USE [master]
GO
/****** Object:  Database [PIMLOGIN]    Script Date: 24/11/2020 23:39:20 ******/
CREATE DATABASE [PIMLOGIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIMLOGIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PIMLOGIN.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PIMLOGIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PIMLOGIN_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIMLOGIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIMLOGIN]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 24/11/2020 23:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logins](
	[email] [varchar](50) NULL,
	[senha] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
